<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessToken</key>
		<string></string>
		<key>name</key>
		<string>中国电信</string>
		<key>pid</key>
		<string>1</string>
		<key>lastLogin</key>
		<integer>0</integer>
		<key>iconFileName</key>
		<string>zgyh</string>
	</dict>
	<dict>
		<key>accessToken</key>
		<string></string>
		<key>name</key>
		<string>中国电信</string>
		<key>pid</key>
		<string>2</string>
		<key>lastLogin</key>
		<integer>0</integer>
		<key>iconFileName</key>
		<string>zgdx</string>
	</dict>
	<dict>
		<key>accessToken</key>
		<string></string>
		<key>name</key>
		<string>中国电信</string>
		<key>pid</key>
		<string>3</string>
		<key>lastLogin</key>
		<integer>0</integer>
		<key>iconFileName</key>
		<string>zgdx</string>
	</dict>
	<dict>
		<key>accessToken</key>
		<string></string>
		<key>name</key>
		<string>中国电信</string>
		<key>pid</key>
		<string>4</string>
		<key>lastLogin</key>
		<integer>0</integer>
		<key>iconFileName</key>
		<string>zgdx</string>
	</dict>
	<dict>
		<key>accessToken</key>
		<string></string>
		<key>name</key>
		<string>中国电信</string>
		<key>pid</key>
		<string>5</string>
		<key>lastLogin</key>
		<integer>0</integer>
		<key>iconFileName</key>
		<string>zgdx</string>
	</dict>
	<dict>
		<key>accessToken</key>
		<string></string>
		<key>name</key>
		<string>中国电信</string>
		<key>pid</key>
		<string>6</string>
		<key>lastLogin</key>
		<integer>0</integer>
		<key>iconFileName</key>
		<string>zgdx</string>
	</dict>
</array>
</plist>
